- page_title t('.page_title', label: @fluentd.label) do
  - link_to reuse_daemon_setting_history_path(id: @backup_file.file_id), method: 'post', class: "btn btn-primary pull-right" do
    = icon('fa-pencil')
    = t("terms.reuse")

.row
  .col-xs-6
    %h2 Current
    %pre
      = preserve do
        = @current
  .col-xs-6
    %h2 Target
    %pre
      = preserve do
        = @backup_file.content

  .col-xs-12.diff
    %h2
      Diff: 
      current
      = ".."
      = params[:id]
    = preserve render "diff"
